
extends ../layout

block body
  #modal-add-client(tabindex='-1', role='dialog').modal.fade
    .modal-dialog(role='document')
      .modal-content
        .modal-header.d-block.text-center
          h5.modal-title= t('Add client')
        form(action=ctx.path, method='POST').ajax-form.confirm-prompt.mt-3
          input(type='hidden', name='_method', value='PUT')
          input(type='hidden', name='_csrf', value=ctx.csrf)
          input(type='hidden', name='add_client', value='true')
          .modal-body
            .form-row
              .form-group.floating-label.col
                input#input-first-name(type='text', name='first_name', required, placeholder=" ").form-control
                label(for='input-first-name')= t('First Name')
              .form-group.floating-label.col
                input#input-last-name(type='text', name='last_name', required, placeholder=" ").form-control
                label(for='input-last-name')= t('Last Name')
            .form-group.floating-label
              input#input-dob(type='date', name='dob').form-control
              label(for='input-dob')= t('Date of Birth')
            .form-group.floating-label
              select#input-gender(name='gender').form-control
                option(value='')= t('-- Select --')
                option(value='Male')= t('Male')
                option(value='Female')= t('Female')
              label(for='input-gender')= t('Gender')
          .modal-footer.text-right
            button(type='button', data-dismiss='modal', aria-label=t('Cancel')).btn.btn-secondary= t('Cancel')
            button(type='submit').btn.btn-primary= t('Submit')
  .container-fluid.py-3
    .row.mt-1
      .col
        include ../_breadcrumbs
        .card.card-bg-light
          .card-body
            button(data-toggle='modal', data-target='#modal-add-client', type='button').btn.btn-secondary.btn-sm= t('Add Client')
        if clients.length === 0
          .alert.alert-info= t('No clients exist yet')
        else
          .table-responsive
            table.table.table-hover.table-bordered
              thead.thead-dark
                tr
                  th(scope='col')= t('First Name')
                  th(scope='col')= t('Last Name')
                  th(scope='col')= t('Date of Birth')
                  th(scope='col')= t('Gender')
                  th(scope='col')= t('Actions')
                tbody
                  each client in clients
                    tr
                      td.align-middle= client.first_name
                      td.align-middle= client.last_name
                      td.align-middle= moment(client.dob).format('M/D/YY')
                      td.align-middle= client.gender
                      td.align-middle
                        .btn-group(role='group', aria-label=t('Actions'))
                          form.ajax-form-confirm-prompt.btn-group(action=l(`/dashboard/clients/${client.id}`), method="POST", autocomplete="off")
                            input(type='hidden', name='_csrf', value=ctx.csrf)
                            input(type='hidden', name='_method', value='DELETE')
                            button(type='submit', data-toggle='tooltip', data-title=t('Remove')).btn.btn-secondary: i.fa.fa-fw.fa-remove
          include ../_pagination
