
extends ../layout

mixin clicker(extraClasses)
  .btn-group.clicker(class=extraClasses)
    button.btn.clicker-plus: i.fas.fa-plus
    .my-auto.px-3.font-weight-bold.clicker-label(data-value='0') 0
    button.btn.clicker-minus(disabled): i.fas.fa-minus

mixin timer()
  .row.justify-content-center.timer
    .col-auto
      .timer-hour 0
    .col-auto.border-right.border-left
      .timer-minute 0
    .col-auto
      .timer-second 0
    .w-100
    .col.text-center
      .btn-group
        button.btn.timer-play: i.fas.fa-play
        button.btn.timer-pause(disabled): i.fas.fa-pause
        button.btn.timer-reset(disabled): i.fas.fa-sync-alt
        button.btn.timer-save(disabled): i.fas.fa-save

append scripts
  script(defer, src=manifest('js/data-collection.js'), integrity=manifest('js/data-collection.js', 'integrity'), crossorigin='anonymous')

block body
  .container-fluid.py-3
    .row
      if targets.length === 0
        .col
          p
            = t('No targets exist for this client yet.')
      for target in targets
        .col-xs-12.col-sm-6.col-md-4.mb-3
          .card.h-100(id=target.id)
            .card-header
              .row
                .col
                  h6.card-subtitle.text-muted.small
                    = t(target.program.name)
                  h5.card-title
                    = t(target.name)
                  h6.card-subtitle.text-muted
                    = t('Phase')
                .col.ml-auto.text-right
                  h6.card-subtitle
                    .previous-data.text-muted.small.mb-0
                      = t(`Previous: ${previous[target._id] ? previous[target._id] : 'NA'}`)
                    .current-data.text-muted.small.mb-0
                      = t(`Current: ${current[target._id] ? current[target._id]: 'NA'}`)
              .row
                .col
                  h6.card-subtitle.small
                    a.btn.px-0.instructions(data-toggle='collapse', href=`#instructions-${target.id}`, role='button', aria-expanded='false', aria-controls=`instructions-${target.id}`)
                      i.fa.fa-fw.fa-chevron-right
                      = ' '
                      = t('Instructions')
                    .collapse(id=`instructions-${target.id}`)
                      = t(target.description)
            .card-body
              case target.data_type
                when 'Frequency'
                  .row.text-center.frequency
                    .col
                      +clicker()
                when 'Duration'
                  .row.duration
                    +timer()
                when 'Percent Correct'
                  .row.percent-correct
                    .col
                      button.btn.percent-correct-previous(disabled): i.fas.fa-chevron-left
                    .col-6
                      .row.text-center
                        .col
                          .text-muted.small.percent-correct-label(data-trial='1', data-total='1') 1 / 1
                        .w-100
                        .col
                          include ./_percent-correct
                    .col
                      button.btn.percent-correct-next(disabled): i.fas.fa-chevron-right
                when 'Rate'
                  .row.rate
                    .row.border-bottom
                      .col.correct
                        .row.text-center
                          .col
                            = t('Correct')
                        .row
                          .col
                            +clicker()
                      .col.incorrect
                        .row.text-center
                          .col
                            = t('Incorrect')
                        .row
                          .col
                            +clicker()
                    +timer()
                default
                  = t(`${target.data_type} not implemented yet.`)
