
.row.mt-1
  .col
    form.ajax-form#addMember(method='PUT', action=l(ctx.pathWithoutLocale))
      input(type='hidden', name='_method', value='PUT')
      input(type='hidden', name='_csrf', value=ctx.csrf)
      input(type='hidden', name='add_member', value='true')
      .input-group.floating-label.mb-3
        input.form-control#input-add-member(required, type='text', name='member')
        label(for='input-add-member')= t('Member To Share With')
        .input-group-append
          button#add-member-btn(type='submit').btn.btn-secondary= t('Share')
.row
  .col
    .table-responsive
      table.table.table-hover
        thead
          tr
            th(scope='col')= t('Member')
            th(scope='col')= t('Group')
            th(scope='col')= t('Actions')
          tbody
            each member in members
              tr(id=member.id)
                td.align-middle= member.user[fields.displayName]
                td.align-middle= member.group
                td.align-middle
                  .btn-group(role='group', aria-label=t('Actions'))
                    if ['owner', 'admin'].includes(client.group) && !(client.group === 'admin' && member.group === 'owner')
                      a.edit-btn(href='#', data-toggle='tooltip',  data-title=t('Edit')).btn.btn-secondary: i.fa.fa-fw.fa-edit
                      form.ajax-form.confirm-prompt.btn-group(action=l(`/dashboard/clients/${client.id}/share`), method="POST", autocomplete="off")
                        input(type='hidden', name='_csrf', value=ctx.csrf)
                        input(type='hidden', name='_method', value='DELETE')
                        input(type='hidden', name='member', value=member.user[fields.displayName])
                        button(type='submit', data-toggle='tooltip', data-title=t('Remove')).btn.btn-secondary: i.fa.fa-fw.fa-remove
              tr.edit-form(id=`${member.id}-form`, hidden)
                form(id=`${member.id}-edit`, method='POST', action=l(`/dashboard/clients/${client.id}/share`)).ajax-form.confirm-prompt
                input(type='hidden', name='_csrf', value=ctx.csrf, form=`${member.id}-edit`)
                input(type='hidden', name='edit_member', value='true', form=`${member.id}-edit`)
                input(type='hidden', name='member', value=member.user[fields.displayName], form=`${member.id}-edit`)
                td.align-middle= member.user[fields.displayName]
                td.align-middle
                  select(name='group', form=`${member.id}-edit`).form-control
                    if client.group === 'owner'
                      option(value='owner' selected=member.group === 'owner')= t('owner')
                    option(value='admin' selected=member.group === 'admin')= t('admin')
                    option(value='user' selected=member.group === 'user')= t('user')
                td.align-middle
                  .btn-group
                    button(type='submit', form=`${member.id}-edit`).btn.btn-success: i.fa.fa-fw.fa-check
                    button.edit-cancel-btn(type='button', aria-label=t('Cancel')).btn.btn-danger: i.fa.fa-fw.fa-times
