
.row.mt-1
  .col
    .table-responsive
      table.table.table-hover
        thead
          tr
            th(scope='col')= t('Member')
            th(scope='col')= t('Group')
            th(scope='col')= t('Actions')
          tbody
            each member in members
              tr(id=member.id)
                td.align-middle= member.user[fields.displayName]
                td.align-middle= member.group
                td.align-middle
