
extends ../../layout

append scripts
  script(defer, src=manifest('js/targets.js'), integrity=manifest('js/targets.js', 'integrity'), crossorigin='anonymous')

block body
  #modal-graph-target(tabindex='-1', role='dialog').modal.fade
    .modal-dialog.modal-lg(role='document')
      .modal-content
        .modal-header.d-block.text-center
          h5.modal-title#graph-title= t('Target Graph')
        .modal-body
          .text-center#graphSpinner
            .spinner-border.text-secondary(role='status')
              span.sr-only= t('Loading...')
          #graph
        .modal-footer.text-right
          button(type='button', data-dismiss='modal', aria-label=t('Close')).btn.btn-secondary= t('Close')
  #modal-data-target(tabindex='-1', role='dialog').modal.fade
    .modal-dialog.modal-lg(role='document')
      .modal-content
        .modal-header.d-block.text-center
          h5.modal-title#data-title= t('Target Data')
        .modal-body
          .text-center#dataSpinner
            .spinner-border.text-secondary(role='status')
              span.sr-only= t('Loading...')
          #data
        .modal-footer.text-right
          button(type='button', data-dismiss='modal', aria-label=t('Close')).btn.btn-secondary= t('Close')
  form#add(action=ctx.path, method='PUT').ajax-form
  form#edit(method='POST').ajax-form.confirm-prompt
  .container-fluid.py-3
    .row.mt-1
      .col
        include ../../_breadcrumbs
        if targets.length === 0
          .alert.alert-info= t('No targets for this client yet.')
        else
          .table-responsive
            table.table.table-hover.table-bordered
              thead.thead-dark
                tr
                  th(scope='col')= t('Name')
                  th(scope='col')= t('Description')
                  th(scope='col')= t('Data Type')
                  th(scope='col')
                    = t('Actions')
                    a#addBtn(type='button', data-toggle='tooltip', data-title=t('Add'), aria-label=t('Add')).btn.btn-success.btn-sm.float-right: i.fas.fa-plus
                tbody
                  tr#addForm(hidden)
                    input(type='hidden', name='_method', value='PUT', form='add')
                    input(type='hidden', name='_csrf', value=ctx.csrf, form='add')
                    input(type='hidden', name='add_target', value='true', form='add')
                    td.align-middle
                      input#input-name(type='text', name='name', required, placeholder=t('Name'), form='add').form-control
                    td.align-middle
                      input#input-description(type='text', name='description', placeholder=t('Description'), form='add').form-control
                    td.align-middle
                      select#input-data_type(name='data_type', form='add').form-control
                        option(value='')= t('-- Select --')
                        option(value='Frequency')= t('Frequency')
                        option(value='Rate')= t('Rate')
                        option(value='Duration')= t('Duration')
                        option(value='Percent Correct')= t('Percent Correct')
                        option(value='Task Analysis')= t('Task Analysis')
                        option(value='Momentary Time Sampling')= t('Momentary Time Sampling')
                        option(value='Whole Interval')= t('Whole Interval')
                        option(value='Partial Interval')= t('Partial Interval')
                    td.align-middle
                      .btn-group(role='group', aria-label=t('Actions'))
                        button(type='submit', form='add').btn.btn-success: i.fa.fa-fw.fa-check
                        button#cancelAddBtn(type='button', aria-label=t('Cancel')).btn.btn-danger: i.fa.fa-fw.fa-times
                  each target in targets
                    tr(id=target.id)
                      td.align-middle= t(target.name)
                      td.align-middle= t(target.description)
                      td.align-middle= t(target.data_type)
                      td.align-middle
                        .btn-group(role='group', aria-label=t('Actions'))
                          a.edit-btn(href='#', data-toggle='tooltip',  data-title=t('Edit')).btn.btn-secondary: i.fa.fa-fw.fa-edit
                          button#graphTargetBtn(data-toggle='modal', data-target='#modal-graph-target', data-id=target.id, data-name=t(target.name)).btn.btn-secondary
                            a(data-toggle='tooltip', data-title=t('Graph')): i.fa.fa-fw.fa-chart-line
                          button#dataTargetBtn(data-toggle='modal', data-target='#modal-data-target', data-id=target.id, data-name=t(target.name)).btn.btn-secondary
                            a(data-toggle='tooltip', data-title=t('Data')): i.fa.fa-fw.fa-list
                          form.ajax-form.confirm-prompt.btn-group(action=l(`/dashboard/clients/${client.id}/programs/${program.id}/targets/${target.id}`), method="POST", autocomplete="off")
                            input(type='hidden', name='_csrf', value=ctx.csrf)
                            input(type='hidden', name='_method', value='DELETE')
                            button(type='submit', data-toggle='tooltip', data-title=t('Remove')).btn.btn-secondary: i.fa.fa-fw.fa-remove
                    tr.edit-form(id=`${target.id}-form`, hidden)
                      input(type='hidden', name='_method', value='POST', form='edit')
                      input(type='hidden', name='_csrf', value=ctx.csrf, form='edit')
                      input(type='hidden', name='edit_program', value='true', form='edit')
                      td.align-middle
                        input#edit-input-name(type='text', name='name', required, placeholder=t('Name'), value=t(target.name), form='edit').form-control
                      td.align-middle
                        input#edit-input-description(type='text', name='description', placeholder=t('Description'), value=t(target.description), form='edit').form-control
                      td.align-middle= t(target.data_type)
                      td.align-middle
                        .btn-group
                          button(type='submit', form='edit', formaction=l(`/dashboard/clients/${client.id}/programs/${program.id}/targets/${target.id}`)).btn.btn-success: i.fa.fa-fw.fa-check
                          button.edit-cancel-btn(type='button', aria-label=t('Cancel')).btn.btn-danger: i.fa.fa-fw.fa-times
          include ../../_pagination
