
extends layout

block body
  //- Main jumbotron for a primary marketing message or call to action
  .jumbotron.mb-0.text-center
    .container
      h1= t('Data Collection Made Easy')
      p.lead= t('Data collection for behavior analysts by behavior analysts.')
      a.btn.btn-success.btn-lg(href=l('/register'), role="button", data-toggle='modal-anchor', data-target='#modal-sign-up')= t('Try the demo')
  .container.py-5
    .row.row-cols-md-3
      .col
        h2= t('Data Collection')
        p= t('Collect data right in the web browser with automatic syncing of data.')
      .col
        h2= t('Data Types')
        p= t('Data types include frequency, duration, percent correct, rate, and task analysis.')
      .col
        h2= t('Graphing and Reporting')
        p= t('Data can be graphed on a per day basis.')
