
extends ../../../../layout

block body
  #modal-add-target(tabindex='-1', role='dialog').modal.fadej
    .modal-dialog(role='document')
      .modal-content
        .modal-header.d-block.text-center
          h5.modal-title= t('Add target')
        form(action=ctx.path, method='POST').ajax-form.confirm-prompt.mt-3
          input(type='hidden', name='_method', value='PUT')
          input(type='hidden', name='_csrf', value=ctx.csrf)
          input(type='hidden', name='add_target', value='true')
          .modal-body
            .form-group.floating-label
              input#input-name(type='text', name='name', required, placeholder=" ").form-control
              label(for='input-name')= t('Name')
            .form-group.floating-label
              input#input-description(type='text', name='description', placeholder=" ").form-control
              label(for='input-description')= t('Description')
            .form-group.floating-label
              select#input-data_type(name='data_type').form-control
                option(value='')= t('-- Select --')
                option(value='Frequency')= t('Frequency')
              label(for='data_type')= t('Data Type')
          .modal-footer.text-right
            button(type='button', data-dismiss='modal', aria-label=t('Cancel')).btn.btn-secondary= t('Cancel')
            button(type='submit').btn.btn-primary= t('Submit')
  .container-fluid.py-3
    .row.mt-1
      .col
        include ../../../../_breadcrumbs
        if targets.length === 0
          .alert.alert-info= t('No targets for this client yet.')
        else
          .table-responsive
            table.table.table-hover.table-bordered
              thead.thead-dark
                tr
                  th(scope='col')= t('Name')
                  th(scope='col')= t('Description')
                  th(scope='col')= t('Actions')
                tbody
                  each target in targets
                    tr
                      td.align-middle= t(target.name)
                      td.align-middle= t(target.description)
                      td.align-middle
                        .btn-group(role='group', aria-label=t('Actions'))
                          form.ajax-form.confirm-prompt.btn-group(action=l(`/dashboard/clients/${client.id}/programs/${program.id}/targets/${target.id}`), method="POST", autocomplete="off")
                            input(type='hidden', name='_csrf', value=ctx.csrf)
                            input(type='hidden', name='_method', value='DELETE')
                            button(type='submit', data-toggle='tooltip', data-title=t('Remove')).btn.btn-secondary: i.fa.fa-fw.fa-remove
          include ../../../../_pagination
